/* Estilo para dispositivos móveis */
@media (max-width: 767px) {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .box {
        padding: 10px;
        border-radius: 2px;
        width: 95%;
    }

    .rectangle {
        width: 95%;
        margin: 20px auto;
        border-radius: 30px;
    }

    .rectangle p {
        padding: 18px;
        margin: 0 auto;
    }

    .rectangle input {
        width: 95%;
        border-radius: 30px;
        margin-bottom: 10px;
        height: 2rem;
        border-style: none;
    }

    input::placeholder {
        text-align: center;
    }

    .icon-container {
        text-align: center;
        color: white;
        padding: 30px;
    }

    .icon {
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
    }
}

.box {
    height: 100vh;
    text-align: center;
}

.box p {
    font-size: larger;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    line-height: 24pt;
    width: 80%;
    margin: 0 auto;
}

.box h1,
h2,
h3 {
    font-size: larger;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    line-height: 30px;
}


.box1 {
    background: #487067;
    color: white;
}

.box2 {
    background: #F8FAE5;
}

.box3 {
    background: #76453B;
    color: white;
}

input {
    text-transform: uppercase;
}

input[type="button"] {
    background: #B19470;
}


.highlighted {
    background: #F8FAE5;
    color: black;
}

footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;

}

.social-icons .icon {
    color: black;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    align-items: center;
}

.rectangle {
    width: 100%;
    position: relative;
}

.rectangle input {
    border-radius: 30px;
    height: 2rem;
    border-style: none;
    display: block;
    margin: 10px auto;
}

input::placeholder {
    text-align: center;
}